<link rel="stylesheet" type="text/css" href="{{ asset('assets/footer-style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer id="contact">

    <div class="contenu-footer">
        <div class="bloc footer-services">
            <h3>UtopiaZoo</h3>
            <img class="logo" src="{{asset('assets/logo.jpg')}}">
        </div>
        <div class="bloc footer-contact">
            <h3>Restons en contact</h3>
            <p>55-55-55-55-55</p>
            <p>supportclient@contact.com</p>
            <p>6 rue de l'invention, Paris VII, 75007</p>
        </div>
        <div class="bloc footer-horaires">
            <h3>Les Horaires</h3>
            <ul class="liste-horaires">
                <li>❌ Lun Fermé</li>
                <li>❌ Mar Fermé</li>
                <li>✔️ Mer 10h-19h</li>
                <li>✔️ Jeu 10h-19h</li>
                <li>✔️ Ven 15h-20h</li>
                <li>✔️ Sam 13h-21h</li>
                <li>✔️ Dim 13h-21h</li>
            </ul>
        </div>
        <div class="bloc footer-medias">
            <h3>Nos Réseaux</h3>
            <ul class="liste-medias">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>

            </ul>
        </div>
    </div>
    </div>
    <script src="https://kit.fontawesome.com/3ea0bb51d0.js"></script>
</footer>