{% extends 'base.html.twig' %}

{% block title %}
    Le zoo & les animaux
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/decouverte.css') }}">
{% endblock %}

{% block body %}

    <br>
    <br>
    <div class="content1">
                <div class="example-wrapper">
                    <div class="lion">
                        <img id="lion" src="https://i.pinimg.com/564x/6e/50/fb/6e50fb01ac451c32de7551455cc58f32.jpg">
                        <div class="contenu">
                            <div class="texte">Le lion</div>
                        </div>
                    </div>
                </div>
                <div class="example-wrapper">
                    <div class="zebre">
                        <img id="zebre" src="https://i.pinimg.com/564x/0b/31/bc/0b31bc19ea552024c06bb7e27e46d478.jpg">
                        <div class="contenu">
                            <div class="texte">Le zèbre</div>
                        </div>
                    </div>
                </div>
                <div class="example-wrapper">
                    <div class="singe">
                        <img id="singe" src="https://i.pinimg.com/564x/6d/80/28/6d80287d94942fd458ade5e51870e1b8.jpg">
                        <div class="contenu">
                            <div class="texte">Le singe</div>
                        </div>
                    </div>
                </div>
                <div class="example-wrapper">
                    <div class="elephant">
                        <img id="elephant" src="https://i.pinimg.com/564x/42/13/9b/42139b11a7089b0476045716bef702aa.jpg">
                        <div class="contenu">
                            <div class="texte">L'éléphant</div>
                        </div>
                    </div>
                </div>
                <div class="example-wrapper">
                    <div class="girafe">
                        <img id="girafe" src="https://i.pinimg.com/564x/f3/f6/ff/f3f6ff1e16d4b0038209cf65bcc085ad.jpg">
                        <div class="contenu">
                            <div class="texte">La girafe</div>
                        </div>
                    </div>
                </div>
    </div>
    <br>
    <div class="content2">
                <div class="example-wrapper">
                    <div class="manchot">
                        <img id="manchot" src="https://i.pinimg.com/564x/65/92/ca/6592cac473642f8df3c8e366008ed2c0.jpg">
                        <div class="contenu">
                            <div class="texte">Le manchot<br>du cap</div>
                        </div>
                    </div>
                </div>
                <div class="example-wrapper">
                    <div class="panda">
                        <img id="panda" src="https://i.pinimg.com/564x/96/55/8f/96558f7781eeec61517d5116e72aea67.jpg">
                        <div class="contenu">
                            <div class="texte">Le panda<br>roux</div>
                        </div>
                    </div>
                </div>
                <div class="example-wrapper">
                    <div class="loutre">
                        <img id="loutre" src="https://i.pinimg.com/564x/56/30/36/56303614c8919b79a1d2cb1cb1a4b031.jpg">
                        <div class="contenu">
                            <div class="texte">La loutre</div>
                        </div>
                    </div>
                </div>
                <div class="example-wrapper">
                    <div class="maki">
                        <img id="maki" src="https://i.pinimg.com/564x/c7/f0/0b/c7f00b7d9ec2f2eed693b214dfb0aa97.jpg">
                        <div class="contenu">
                            <div class="texte">La maki catta</div>
                        </div>
                    </div>
                </div>
                <div class="example-wrapper">
                    <div class="renne">
                        <img id="renne" src="https://i.pinimg.com/564x/ed/4d/ad/ed4dad989b0da0ea8984127e2a075b8b.jpg">
                        <div class="contenu">
                            <div class="texte">Le renne</div>
                        </div>
                    </div>
                </div>
    </div>
    <br>
    <div class="content1">
        <div class="example-wrapper">
            <div class="chien">
                <img id="chien" src="https://i.pinimg.com/564x/db/47/a8/db47a83e0ea8df3cc2dd5d4214e5226e.jpg">
                <div class="contenu">
                    <div class="texte">Le chien des buissons</div>
                </div>
            </div>
        </div>
        <div class="example-wrapper">
            <div class="autruche">
                <img id="autruche" src="https://i.pinimg.com/564x/4b/a6/d9/4ba6d9bba4a56828ed0f27478988d524.jpg">
                <div class="contenu">
                    <div class="texte">L'autruche</div>
                </div>
            </div>
        </div>
        <div class="example-wrapper">
            <div class="paresseux">
                <img id="paresseux" src="https://i.pinimg.com/564x/5c/cb/10/5ccb10b2290a44cab61dce48da229985.jpg">
                <div class="contenu">
                    <div class="texte">Le paresseux</div>
                </div>
            </div>
        </div>
        <div class="example-wrapper">
            <div class="anaconda">
                <img id="anaconda" src="https://i.pinimg.com/564x/8e/08/a2/8e08a28fce08040c8c7064d3282bd92e.jpg">
                <div class="contenu">
                    <div class="texte">L'anaconda</div>
                </div>
            </div>
        </div>
        <div class="example-wrapper">
            <div class="rhinoceros">
                <img id="rhinoceros" src="https://i.pinimg.com/564x/ff/25/18/ff25180113fab871ba10dbc11d424528.jpg">
                <div class="contenu">
                    <div class="texte">Le rhinocéros</div>
                </div>
            </div>
        </div>
    </div>
<br><br>



    <!-- $$$$$$$$$$$$$$$$$$$.    PARTIE POPUP      $$$$$$$$$$$$$$$$$$$$ -->
    <!-- ----------------0---------------------- -->

    <div id="overlay" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant">
                <div class="img"><img src="https://i.pinimg.com/564x/65/6e/11/656e11c1db1f9017eefea8af13df5b5b.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.sound-fishing.net/download.php?id=117')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le lion</I></h2>
                    <span><b>Classe:</b> Mammifère</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le lion est un membre de la famille des Félidés. Ses plus proches cousins sont le tigre, la panthère ou le jaguar. Après le tigre, c’est le plus grand félin au monde. Deux sous-espèces sont actuellement reconnues : le lion d’Asie, très menacé, et le lion d’Afrique.</p>
                    <ul>
                        <li><I>Longueur du corps:</I> 2,4 à 3,3 m.</li>
                        <li><I>Poids:</I> 125 à 270 kg en moyenne.</li>
                        <li><I>Taille:</I> 1,5 à 1,9 m de long pour les femelles / jusqu'à 2,5 m pour les mâles</li>
                        <li><I>Longévité:</I> 12 à 16 ans.</li>
                        <li><I>Nourriture:</I> Carnivore.</li>
                        <li><I>Milieu:</I> Plaines, savanes, fourrés et semi-déserts.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay2" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img2"><img src="https://i.pinimg.com/564x/cf/75/53/cf755322f9ed936cb1e5e4d6af33afea.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://universal-soundbank.com/sounds/4003.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose2" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le zèbre</I></h2>
                    <span><b>Classe:</b> Mammifère</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le zèbre fait partie de la famille des Equidés, qui possèdent un doigt unique doté d’un sabot à chaque patte. Au sein de cette famille, il côtoie le cheval. La sous-espèce présentée à UtopiaZoo est le zèbre de Chapman.</p>
                    <ul>
                        <li><I>Longueur du corps:</I> 217 à 246 cm.</li>
                        <li><I>Poids:</I> 175 à 250 kg en moyenne pour les femelles/ 220 à 375 kg en moyenne pour les mâles</li>
                        <li><I>Taille:</I> 110 à 145 cm.</li>
                        <li><I>Longévité:</I> 25 à 30 ans.</li>
                        <li><I>Nourriture:</I> Herbes hautes. </li>
                        <li><I>Milieu:</I> Les savanes d’Éthiopie, de Somalie et du Nord du Kenya.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="overlay3" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant">
                <div class="img3"><img src="https://i.pinimg.com/564x/5c/f9/9e/5cf99e2f915aa76afeb827a4d3793ee1.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://universal-soundbank.com/sounds/1296.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose3" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le singe</I></h2>
                    <span><b>Classe:</b> Mammifère</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le singe fait parti d'un groupe de mammifères appartenant à l'ordre des primates. Il possède une main avec un pouce opposable aux autres doigts, ce qui lui permet d'attraper des objets ou de saisir les branches pour grimper dans les arbres. Il existe 285 espèces de singes vivant dans le monde.</p>
                    <ul>
                        <li><I>Taille:</I> 12cm à 180 cm.</li>
                        <li><I>Poids:</I> 120 g pour le plus petit singe / Jusqu'à 180kg pour le plus grand.</li>
                        <li><I>Longévité:</I> 12 à 45 ans.</li>
                        <li><I>Nourriture:</I> Omnivores </li>
                        <li><I>Milieu:</I> Les forêts pluvieuses des pays du sud et la savane boisée d'Afrique.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="overlay4" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant">
                <div class="img3"><img src="https://i.pinimg.com/564x/7a/71/ee/7a71ee084aacbf61bd5e23336481f93f.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://universal-soundbank.com/sounds/79.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose4" class="btnClose">&times;</button>
                <div>
                    <h2><I>L'éléphant</I></h2>
                    <span><b>Classe:</b> Mammifère</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>L’éléphant est un membre de l’ordre des Proboscidiens et de la famille des Eléphantidés. Il existerait au moins deux espèces distinctes d’éléphant d’Afrique : l’éléphant de savane et l’éléphant de forêt. Des différences morphologiques (les éléphants de forêt sont plus petits) et comportementales séparent ces deux espèces.</p>
                    <ul>
                        <li><I>Taille:</I> 3,5 à 4 m pour le mâle et 2,5 à 3 m pour la femelle.</li>
                        <li><I>Poids:</I> 3 à 6 tonnes.</li>
                        <li><I>Longévité:</I> 60 à 70 ans.</li>
                        <li><I>Nourriture:</I> Végétarien. </li>
                        <li><I>Milieu:</I> Habitats variés : forêts, savanes, zones marécageuses.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="overlay5" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img2"><img src="https://i.pinimg.com/564x/1e/43/f6/1e43f6108328442405733a9ef6cb4641.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose5" class="btnClose">&times;</button>
                <div>
                    <h2><I>La girafe</I></h2>
                    <span><b>Classe:</b> Mammifère</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p> La girafe appartient à l’ordre des Artiodactyles. Le premier doigt est toujours absent. Le deuxième et quelquefois le cinquième doigt peuvent être réduits ou absents. Ces animaux prennent appui sur le sol par leurs 3e et 4e doigts.</p>
                    <ul>
                        <li><I>Taille:</I> 4,7 à 5,7 m.</li>
                        <li><I>Poids:</I> 600 à 1200 kg pour la femelle     / 800 à 1940 kg pour le mâle.</li>
                        <li><I>Longévité:</I> 30 à 35 ans.</li>
                        <li><I>Longueur du cou:</I> 2,4 m en moyenne.</li>
                        <li><I>Longueur de la queue:</I> 80 à 100 cm.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay6" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img2"><img src="https://i.pinimg.com/564x/b2/76/57/b27657593286511dd4e60f7e3ed3caec.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://universal-soundbank.com/sounds/1563.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose6" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le manchot du cap</I></h2>
                    <span><b>Classe:</b> Aves</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p> Le Manchot du Cap est une espèce de manchot sud-africain. Cet oiseau d’Afrique du Sud est sociable, grégaire et loyal. Il sait également donner de la voix, surtout la nuit. Le manchot du Cap vit en colonie.</p>
                    <ul>
                        <li><I>Taille:</I> 45 cm.</li>
                        <li><I>Poids:</I> 3,1 kg.</li>
                        <li><I>Longévité:</I> 25 à 28 ans.</li>
                        <li><I>Nourriture:</I> Poisson principalement.</li>
                        <li><I>Milieu:</I> Principalement sur les côtes d'Afrique du Sud et en Namibie.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="overlay7" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img4"><img src="https://i.pinimg.com/564x/45/76/80/4576808b201be3d49459ef870bc253a8.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.dinosoria.com/sons/cri_male.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose7" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le panda roux </I></h2>
                    <span><b>Classe:</b> Mammifères</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le panda roux est un membre de l’ordre des Carnivores. Actuellement, deux sous-espèces sont reconnues : le panda roux de l’ouest et le panda roux de Styan, qui serait plus grand et sombre que le premier et présent uniquement en Chine et au nord de la Birmanie.</p>
                    <ul>
                        <li><I>Taille:</I> 50-64 cm de long + 30-50 cm pour la queue.</li>
                        <li><I>Poids:</I> 3 à 6 kg.</li>
                        <li><I>Longévité:</I> 8 à 10 ans en milieu naturel / 15-18 ans en captivité.</li>
                        <li><I>Nourriture:</I> Omnivore.</li>
                        <li><I>Milieu:</I> Forêts de feuillus et de conifères avec la présence d'un sous-étage dense de bambou.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="overlay8" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img4"><img src="https://i.pinimg.com/564x/59/0d/9b/590d9b272ee9c8621761899489df5a0d.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://universal-soundbank.com/sounds/1684.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose8" class="btnClose">&times;</button>
                <div>
                    <h2><I>La loutre</I></h2>
                    <span><b>Classe:</b> Mammifères</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>La loutre d’Asie est un mammifère parfaitement adapté à la vie aquatique. La durée moyenne d’une plongée est de 30 secondes, mais elles peuvent durer jusqu’à 8 minutes. Son pelage est adapté pour résister aux basses températures des cours d’eau. Cette épaisse fourrure est imperméable.</p>
                    <ul>
                        <li><I>Taille:</I> 80 cm de long.</li>
                        <li><I>Poids:</I> 4 à 5 kg.</li>
                        <li><I>Longévité:</I> Jusqu'à 15 ans.</li>
                        <li><I>Nourriture:</I> Carnivore.</li>
                        <li><I>Milieu:</I> Eaux peu profondes des ruisseaux et des rivières d’eau douce.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="overlay9" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img4"><img src="https://i.pinimg.com/564x/41/c2/28/41c22817542b4137532ff14e5ae735c2.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.dinosoria.com/sons/animaux/0049.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose9" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le maki catta</I></h2>
                    <span><b>Classe:</b> Mammifères</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le maki catta ou lémur catta est un membre de l’ordre des Primates. A ce titre, il possède des yeux dirigés vers l’avant et permettant une vision binoculaire, des membres à 5 doigts terminés généralement par un ongle plat ainsi que des mains préhensiles avec les pouces opposables. Il possède un odorat très puissant grâce à son museau allongé.</p>
                    <ul>
                        <li><I>Taille:</I> Environ 40 cm de long.</li>
                        <li><I>Poids:</I> 2,3 à 3,5 kg en moyenne.</li>
                        <li><I>Longévité:</I> 20 à 25 ans.</li>
                        <li><I>Nourriture:</I> Omnivore à tendance frugivore.</li>
                        <li><I>Milieu:</I> Forêt et savane arbustive.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="overlay10" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img5"><img src="https://i.pinimg.com/564x/5c/95/1c/5c951c50a1b69b171ec43b7a34a80cc5.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.dinosoria.com/sons/0247.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose10" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le renne</I></h2>
                    <span><b>Classe:</b> Mammalia</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le renne, pouvant avoir un pelage brun ou gris, est un animal robuste. Les rennes en bonne santé sont bien plus rapides à la course que la plupart de leurs prédateurs tels que les loups par exemple. En effet, le renne peut facilement courir à près de 70 km/h en cas de danger.</p>
                    <ul>
                        <li><I>Taille:</I> 85 à 150 cm.</li>
                        <li><I>Poids:</I> 160 à 180 kg pour un mâle / 80 à 120 kg pour une femelle.</li>
                        <li><I>Longévité:</I> 15 ans dans la nature / 20 ans en captivité.</li>
                        <li><I>Nourriture:</I> Alimentation variée mais essentiellement des lichens (association mousse-champignons).</li>
                        <li><I>Milieu:</I> Régions de hautes latitudes, où il fait froid.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay11" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img4"><img src="https://i.pinimg.com/564x/8c/d7/03/8cd703fba84a0eb7cfbae872756fee45.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.dinosoria.com/sons/animaux/0049.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose11" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le chien des buissons</I></h2>
                    <span><b>Classe:</b> Mammifères</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le chien des buissons est une espèce semi-aquatique. Ses doigts sont reliés par une membrane qui lui permet d’être un excellent nageur. Il est capable de plonger, nager sous l’eau ou encore poursuivre une proie à la nage.</p>
                    <ul>
                        <li><I>Taille:</I> 30cm au garrot.</li>
                        <li><I>Poids:</I> 5 à 8kg en moyenne.</li>
                        <li><I>Longévité:</I> 10 ans (jusqu'à 13 ans en captivité).</li>
                        <li><I>Nourriture:</I> Carnivore.</li>
                        <li><I>Milieu:</I> Forêt humide, savane.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay12" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant">
                <div class="img"><img src="https://i.pinimg.com/564x/27/79/0e/27790eabfbc8741f939af03626d6c937.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.dinosoria.com/sons/animaux/0049.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose12" class="btnClose">&times;</button>
                <div>
                    <h2><I>L'autruche</I></h2>
                    <span><b>Classe:</b> Diapsides</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>L’autruche bat de nombreux records dans le monde animal : c’est le plus grand oiseau vivant, avec ses deux mètres de haut et son poids qui dépasse les cent kilos. Son œuf est le plus gros de tous les œufs : il peut peser plus de 1,5 kg. L’autruche est aussi le plus rapide des oiseaux terrestres.</p>
                    <ul>
                        <li><I>Taille:</I> 1m75 à 1m90 pour une femelle, 2m10 à 2m75 pour un mâle.</li>
                        <li><I>Poids:</I> 90 à 110kg pour une femelle, 100 à 150kg pour un mâle.</li>
                        <li><I>Longévité:</I> 40 ans (50 ans en captivité).</li>
                        <li><I>Nourriture:</I> Omnivore.</li>
                        <li><I>Milieu:</I> Savane.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay13" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant">
                <div class="img"><img src="https://i.pinimg.com/564x/1e/39/56/1e39561bda181e4a378659cb0e07d67c.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.dinosoria.com/sons/animaux/0049.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose13" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le paresseux</I></h2>
                    <span><b>Classe:</b> Mammifères</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le paresseux a la réputation d’être l'un des animaux les plus lents du monde. Il est particulièrement vulnérable à terre et peut mettre une heure pour faire quelques mètres en rampant. En revanche, il est capable d’escalader un arbre en quelques minutes pour échapper à un prédateur, et est un excellent nageur.</p>
                    <ul>
                        <li><I>Taille:</I> De 50 à 85cm.</li>
                        <li><I>Poids:</I> De 4 à 8kg.</li>
                        <li><I>Longévité:</I> Jusqu'à 30 ans en captivité.</li>
                        <li><I>Nourriture:</I> Végétarien.</li>
                        <li><I>Milieu:</I> Canopée.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay14" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img4"><img src="https://i.pinimg.com/564x/fd/56/01/fd560197e74b0fdcc4d70fc96318e6e9.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.dinosoria.com/sons/animaux/0049.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose14" class="btnClose">&times;</button>
                <div>
                    <h2><I>L'anaconda</I></h2>
                    <span><b>Classe:</b> Sauropsides</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Le jeune anaconda chasse depuis les arbres. Adulte, c’est dans l’eau qu’il se met à l’affût, laissant émerger yeux et narines. Il noie sa proie en plus de l’étouffer. Il s'agit du plus lourd serpent du monde, même s'il n'est pas pour autant le plus long.</p>
                    <ul>
                        <li><I>Taille:</I> De 6 à 8m pour une femelle, de 3 à 5m pour un mâle.</li>
                        <li><I>Poids:</I> 70 à 100kg.</li>
                        <li><I>Longévité:</I> Jusqu'à 25 ans.</li>
                        <li><I>Nourriture:</I> Carnivore (rongeurs et oiseaux généralement).</li>
                        <li><I>Milieu:</I> Marais, étangs et cours d'eau lents.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay15" class="overlay">
        <div id="popup" class="popup">
            <div class="contenant"><br>
                <div class="img4"><img src="https://i.pinimg.com/564x/ef/32/26/ef322608f41130fd8dc1bdddde40e903.jpg"></div>
                <div><h2>
                        <button id="btnPopup" class="btnPopup" onclick="openImg('https://www.dinosoria.com/sons/animaux/0049.mp3')">Cliquez ici</button>
                    </h2>
                </div>
            </div>
            <div class="contenant2">
                <button id="btnClose15" class="btnClose">&times;</button>
                <div>
                    <h2><I>Le rhinocéros</I></h2>
                    <span><b>Classe:</b> Mammifères</span>
                    <hr>
                    <I><p>DESCRIPTION</p></I>
                    <p>Les rhinocéros d’Afrique possèdent deux cornes contrairement à certains de leurs cousins d’Asie. Le rhinocéros blanc se distingue du rhinocéros noir par sa lèvre carrée et large. Les mâles mâtures sont plutôt solitaires, tandis que les femelles et les jeunes vivent en hardes de plusieurs dizaines d’individus.</p>
                    <ul>
                        <li><I>Taille:</I> 1m50 à 1m80 au garrot.</li>
                        <li><I>Poids:</I> De 2 à 3,5 tonnes.</li>
                        <li><I>Longévité:</I> Jusqu'à 40 ans (50 ans en captivité).</li>
                        <li><I>Nourriture:</I> Herbivore.</li>
                        <li><I>Milieu:</I> Forêt et savane arborée.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <script>

    var btnPopup = document.querySelector('div.example-wrapper div.lion');
    var overlay = document.getElementById('overlay');
    btnPopup.addEventListener('click',openMoadl);
    btnClose.addEventListener('click',closePopup);

    function openMoadl() {
    overlay.style.display='block';
    }

    function closePopup(){
    overlay.style.display='none';
    }

    var btnPopup2 = document.querySelector('div.example-wrapper div.zebre');
    var overlay2 = document.getElementById('overlay2');
    btnPopup2.addEventListener('click',openMoadl2);
    btnClose2.addEventListener('click',closePopup2);

    function openMoadl2() {
    overlay2.style.display='block';
    }

    function closePopup2(){
    overlay2.style.display='none';
    }


    var btnPopup3 = document.querySelector('div.example-wrapper div.singe');
    var overlay3 = document.getElementById('overlay3');
    btnPopup3.addEventListener('click',openMoadl3);
    btnClose3.addEventListener('click',closePopup3);

    function openMoadl3() {
    overlay3.style.display='block';
    }

    function closePopup3(){
    overlay3.style.display='none';
    }

    var btnPopup4 = document.querySelector('div.example-wrapper div.elephant');
    var overlay4 = document.getElementById('overlay4');
    btnPopup4.addEventListener('click',openMoadl4);
    btnClose4.addEventListener('click',closePopup4);

    function openMoadl4() {
    overlay4.style.display='block';
    }

    function closePopup4(){
    overlay4.style.display='none';
    }

    var btnPopup5 = document.querySelector('div.example-wrapper div.girafe');
    var overlay5 = document.getElementById('overlay5');
    btnPopup5.addEventListener('click',openMoadl5);
    btnClose5.addEventListener('click',closePopup5);

    function openMoadl5() {
    overlay5.style.display='block';
    }

    function closePopup5(){
    overlay5.style.display='none';
    }

    var btnPopup6 = document.querySelector('div.example-wrapper div.manchot');
    var overlay6 = document.getElementById('overlay6');
    btnPopup6.addEventListener('click',openMoadl6);
    btnClose6.addEventListener('click',closePopup6);

    function openMoadl6() {
    overlay6.style.display='block';
    }

    function closePopup6(){
    overlay6.style.display='none';
    }

    var btnPopup7 = document.querySelector('div.example-wrapper div.panda');
    var overlay7 = document.getElementById('overlay7');
    btnPopup7.addEventListener('click',openMoadl7);
    btnClose7.addEventListener('click',closePopup7);

    function openMoadl7() {
    overlay7.style.display='block';
    }

    function closePopup7(){
    overlay7.style.display='none';
    }

    var btnPopup8 = document.querySelector('div.example-wrapper div.loutre');
    var overlay8 = document.getElementById('overlay8');
    btnPopup8.addEventListener('click',openMoadl8);
    btnClose8.addEventListener('click',closePopup8);

    function openMoadl8() {
    overlay8.style.display='block';
    }

    function closePopup8(){
    overlay8.style.display='none';
    }

    var btnPopup9 = document.querySelector('div.example-wrapper div.maki');
    var overlay9 = document.getElementById('overlay9');
    btnPopup9.addEventListener('click',openMoadl9);
    btnClose9.addEventListener('click',closePopup9);

    function openMoadl9() {
    overlay9.style.display='block';
    }

    function closePopup9(){
    overlay9.style.display='none';
    }

    var btnPopup10 = document.querySelector('div.example-wrapper div.renne');
    var overlay10 = document.getElementById('overlay10');
    btnPopup10.addEventListener('click',openMoadl10);
    btnClose10.addEventListener('click',closePopup10);

    function openMoadl10() {
    overlay10.style.display='block';
    }

    function closePopup10(){
    overlay10.style.display='none';
    }

    var btnPopup11 = document.querySelector('div.example-wrapper div.chien');
    var overlay11 = document.getElementById('overlay11');
    btnPopup11.addEventListener('click',openMoadl11);
    btnClose11.addEventListener('click',closePopup11);

    function openMoadl11() {
        overlay11.style.display='block';
    }

    function closePopup11(){
        overlay11.style.display='none';
    }

    var btnPopup12 = document.querySelector('div.example-wrapper div.autruche');
    var overlay12 = document.getElementById('overlay12');
    btnPopup12.addEventListener('click',openMoadl12);
    btnClose12.addEventListener('click',closePopup12);

    function openMoadl12() {
        overlay12.style.display='block';
    }

    function closePopup12(){
        overlay12.style.display='none';
    }

    var btnPopup13 = document.querySelector('div.example-wrapper div.paresseux');
    var overlay13 = document.getElementById('overlay13');
    btnPopup13.addEventListener('click',openMoadl13);
    btnClose13.addEventListener('click',closePopup13);

    function openMoadl13() {
        overlay13.style.display='block';
    }

    function closePopup13(){
        overlay13.style.display='none';
    }

    var btnPopup14 = document.querySelector('div.example-wrapper div.anaconda');
    var overlay14 = document.getElementById('overlay14');
    btnPopup14.addEventListener('click',openMoadl14);
    btnClose14.addEventListener('click',closePopup14);

    function openMoadl14() {
        overlay14.style.display='block';
    }

    function closePopup14(){
        overlay14.style.display='none';
    }

    var btnPopup15 = document.querySelector('div.example-wrapper div.rhinoceros');
    var overlay15 = document.getElementById('overlay15');
    btnPopup15.addEventListener('click',openMoadl15);
    btnClose15.addEventListener('click',closePopup15);

    function openMoadl15() {
        overlay15.style.display='block';
    }

    function closePopup15(){
        overlay15.style.display='none';
    }

    function openImg(lien){
        var myAudio=document.createElement("audio");
        myAudio.src=lien;
        if (myAudio.paused) {

            myAudio.play();

        } else {
            myAudio.pause();

        }

    }
    </script>

{% endblock %}