{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block body %}

    <style>

    body{

        background: url("https://zupimages.net/up/22/17/hi86.jpg") no-repeat center center;
        background-size: cover;
    }
    .login-box{
        width: 450px;
        position: relative;
        top: 330px;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0rem 2rem 3rem;
    }
    .login-box h1{
        float: left;
        font-size: 2.7rem;
        border-bottom: 4px solid green;
        margin-bottom: 3rem;
        padding: 0.3rem 0;
    }
    .txt-box{
        width: 100%;
        overflow: hidden;
        font-size: 1.2rem;
        padding: 0rem 0;
        margin: 1.4rem 0;
        border-bottom: 1px solid green;
    }
    .txt-box i{
        width: 1.6rem;
        float: left;
        text-align: center;
    }
    .txt-box input{
        border: none;
        outline: none;
        background: none;
        color: white;
        font-size: 1.1rem;
        width: 80%;
        float: left;
        margin: 0 10px;

    }
    .submit-box{
        width: 100%;
        background: none;
        border: 1px solid green;
        color: white;
        padding: 5px;
        font-size: 1rem;
        margin: 24px 0 12px;
        cursor: pointer;

    }
    .connex{
        color: white;
    }

</style>

    <form id="connexionForm" action="" method="post">
        <div class="login-box">
            <h1> Login </h1>
            <div class="txt-box">
                <i class="fas fa-user-tie"></i>
                <span id="vlogin"></span>
                <input type="text" placeholder="Email" name="Email" id="login" autocomplete="off" required>
            </div>
            <div class="txt-box">
                <i class="fas fa-key"></i>
                <span id="vpassword"></span>
                <input type="password"  placeholder="Passeword" name="Motdepasse" id="password" autocomplete="off" required>
            </div>
            <table>
                <tr>
                    <td> <input type="reset" class="submit-box" value="Effacer" name="effacer">
                        <button type="submit" class="submit-box"> Entrer </button></td>
                </tr>
            </table>
            <div class="txt-box">
                <table>
                    <tr>
                        <td> <i class="fab fa-facebook"></i>
                            <a href="https://www.facebook.com" class="connex"> Se connecter avec Facebook </a> </td>
                    </tr>
                    <tr>
                        <td> <i class="fab fa-google-plus"></i>
                            <a href="https://www.google.com" class="connex"> Se connecter avec Google</a> </td>
                    </tr>
                </table>
            </div>
            <p align="center"> <a href="{{path('app_passeword_forget')}}" class="connex">Mot de passe oublié ? </a></p>
            <p align="center"> <a href="{{path('app_inscription')}}" class="connex">  Vous n'avez pas de compte ? Inscrivez-vous </a> </p>

        </div>

    </form>
    <script src="https://kit.fontawesome.com/3ea0bb51d0.js"></script>
{% endblock %}
