{% extends 'base.html.twig' %}

{% block title %}Pendu{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jeu5.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/jeu5.js')}}"></script>
{% endblock %}


{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% include 'game/header-game.html.twig' %}
    <div class="game">
        <br>
        <h1 id="result">{{ animalName }}</h1>
        <label>
        <input id="entry" class="button" onclick="Valid()" value="Commencer la partie"><br>
        </label>
        <label>
        <input type="text" class="button" id="letter" value="" placeholder="saisir une lettre">
        </label>
        <label>
        <input type="button" class="button" id="verif" onclick="Corec()" value="Vérifier la lettre"><br>
        </label>
        <label>
        <input type="button" class="button" id="retry" onclick="playAgain()" value="recommencer">
        </label>
        <h1 id="rep">futur rep</h1>
        <h1 id="count">0</h1>
        <p id="lettreErr">mot : </p>
        <img alt="" id="penduimg" src="{{asset('IMG/pendu_0.jpg')}}">
        <br>

    </div>

{% endblock %}