/*----------------------------BAS DE PAGE----------------------------*/

::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    bottom: 100%;
    font-family: 'Hoefler Text';


}

footer {
    padding-bottom: 0;
    /* grow shrink basis */
    flex-shrink: 0;
    border-top: 5px solid #94b398;
    width: 100%;
    background-color: black ;
    background-position: center;
    background-size: cover;
    color: white;
    bottom: 100%;
}



.contenu-footer {
    max-height: fit-content;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0 40px;
}

.footer-contact p {
    text-align: left;
    color: white;
}

.bloc {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}




/* *********** Contact *********** */
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: 'Playfair Display', sans-serif;
}

.footer-contact p {
    margin-bottom: 1px;
    text-align: left;
    width: 200px;

}




/* *********** Services *********** */
.liste-services,
.liste-horaires,
.liste-medias {
    list-style-type:none;
}



.footer-services .logo {
    padding-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* *********** Medias *********** */

.liste-medias li img {
    background-color: antiquewhite;
    height: 35px;
    width: 40px;
    border-radius: 40px;
    padding-top: 0%;
    margin-bottom: 10px;
    object-fit: cover;
    margin-right: 10px;


}
.liste-medias li {
    font-size: 16px;
}
.liste-medias a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}









/* *********** Contact *********** */
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: 'Playfair Display', sans-serif;
}

.footer-contact p {
    margin-bottom: 1px;
    text-align: left;
    width: 200px;

}




/* *********** Services *********** */
.liste-services,
.liste-horaires,
.liste-medias {
    list-style-type:none;
}



.footer-services .logo {
    padding-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* *********** Medias *********** */

.liste-medias li img {
    background-color: antiquewhite;
    height: 35px;
    width: 40px;
    border-radius: 40px;
    padding-top: 0%;
    margin-bottom: 10px;
    object-fit: cover;
    margin-right: 10px;


}
.liste-medias li {
    font-size: 16px;
}
.liste-medias a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
