#result{
    display: none;
}

#entry{
    display: block;
}

#letter{
    display: none;

}

#verif{
    display: none;
}

#retry{
    display: none;
}

#penduimg{
    margin-left: 700px;
    display: none;
}

#lettreErr{
    display: none;
}

#count{
    display: none;
}

#rep{
    display: none;
}

#game{
    background-color: pink;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}