#result{
    display: none;
}

#entry{
    display: block;
}

#letter{
    display: none;

}

#verif{
    display: none;
}

#retry{
    display: none;
}

#penduimg{
    display: none;
}

#lettreErr{
    display: none;
}

#count{
    display: none;
}

#rep{
    display: none;
}

#game{
    background-color: pink;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

#penduimg {
    animation-duration: .8s;
    animation-name: none;
    animation-iteration-count: infinite;
    transition: none;
}
@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
}

body{
    animation-duration: .8s;
    animation-name: none;
    animation-iteration-count: infinite;
    transition: none;
}