{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/reservation_pdf.css') }}">
{% endblock %}
{% block body %}
    <script>

        function upload() {
            document.location.href="{{ path('app_payment_pdf', {amount: '30', name: 'GHULAM', prenom: 'Meryam', date:'23-02-2023'}) }}";
        }
    </script>

    {% include 'fragments/reservation.html.twig' %}
    <div class="wrapper">
        <span class="button" onclick="upload()">Télécharger le billet</span>
    </div>
    <br><br><br>

{% endblock %}
