{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .wrapper {
            margin: 10px auto;
            text-align: center;
            width: 100%;
            position: relative;
        }
        .button {
            padding: 15px 50px;
            margin: 10px 4px;
            font-family: sans-serif;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            text-decoration: none;
            display: inline-block;
            border: 1px solid;
            background-color: #94b398;
        }
        .button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: -1;
            -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
            transition: all 0.4s;
        }
        .button:hover {
            color: seagreen;
        }
        .button:hover::before {
            opacity: 1;
            background-color: #15251A;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
            transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
        }

        .button:before, .button:after {
            content: '';
            position: absolute;
            left: -2px;
            top: -2px;
            background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00,#ffff00, #ff0000);
            background-size: 400%;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            z-index: -1;
            animation: steam 20s linear infinite;
        }

        @keyframes steam {
            0% {
                background-position: 0 0;
            }
            50% {
                background-position: 400% 0;
            }
            100% {
                background-position: 0 0;
            }
        }

        .button:after {
            filter: blur(50px);
        }

    </style>
    <script>

        function upload() {
            document.location.href="{{ path('app_payment_pdf', {amount: '30', name: 'GHULAM', prenom: 'Meryam', date:'23-02-2023'}) }}";
        }
    </script>

    {% include 'fragments/reservation.html.twig' %}
    <div class="wrapper">
        <span class="button" onclick="upload()">Télécharger le billet</span>
    </div>
    <br><br><br>

{% endblock %}
