{% extends 'base.html.twig' %}

{% block title %}PassewordForget{% endblock %}

{% block body %}
<style>
    body{
        margin:0;
        padding:0;
        font-family: "Hoefler Text";
        background: url("https://zupimages.net/up/22/17/waol.jpg") no-repeat center center;
        height: 100vh;
        background-size: cover;
    }
    .login-box{
        width: 450px;
        position: relative;
        top: 300px;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0rem 2rem 3rem;
    }
    .login-box h1{
        float: left;
        font-size: 2.7rem;
        border-bottom: 4px solid green;
        margin-bottom: 3rem;
        padding: 0.3rem 0;
    }
    .txt-box{
        width: 100%;
        overflow: hidden;
        font-size: 1.2rem;
        padding: 0rem 0;
        margin: 1.4rem 0;
        border-bottom: 1px solid green;
    }
    .txt-box i{
        width: 1.6rem;
        float: left;
        text-align: center;
    }
    .txt-box input{
        border: none;
        outline: none;
        background: none;
        color: white;
        font-size: 1.1rem;
        width: 80%;
        float: left;
        margin: 0 10px;

    }
    .submit-box{
        width: 100%;
        background: none;
        border: 1px solid green;
        color: white;
        padding: 5px;
        font-size: 1rem;
        margin: 24px 0 12px;
        cursor: pointer;

    }
    .connex{
        color: white;
    }
</style>
    {% include 'fragments/header.html.twig' %}
<form id="connexionForm" action="" method="post">
    <div class="login-box">
        <h1> Mot De Passe Oublié </h1>
        <br>
        <h4>Veilliez entrer votre login </h4>
        <div class="txt-box">
            <i class="fas fa-user-tie"></i>
            <span id="vlogin"></span>
            <input type="text" placeholder="Email" name="Email" id="login" autocomplete="off" required>
        </div>

        <table>
            <tr>
                <td> <input type="reset" class="submit-box" value="Effacer" name="effacer">
                    <button type="submit" class="submit-box"> Entrer </button></td>
            </tr>
        </table>
        <p align="center"><a href="" class="connex"> Vous avez déjà de compte ? Connectez-Vous ! </a></p>
        <p align="center"><a href="" class="connex"> Vous n'avez pas de compte ? </a></p>
        <p align="center"> <a href="" class="connex"> Inscrivez-vous ! </a> </p>

    </div>
</form>
    <script src="https://kit.fontawesome.com/3ea0bb51d0.js"></script>
{% endblock %}
