{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <div class="container d-flex justify-content-center mt-5 mb-5">
        <div class="row g-3">
            <div class="col-md-6">
                <span>Méthode de payement</span>
                <div class="card">
                    <div class="accordion" id="accordionExample">
                        <form class="card">
                            <div class="card-header p-0">
                                <h2 class="mb-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="icons">
                                            <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                            <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                                            <img src="https://i.imgur.com/35tC99g.png" width="30">
                                            <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                        </div>
                                    </div>
                                    </button>
                                </h2>
                            </div>

                            <form method="post">
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body payment-card-body">

                                        <div id="errors"></div>
                                        <span class="font-weight-normal card-text">Titulaire de la carte</span>
                                        <div class="input">
                                            <i class="fa fa-credit-card"></i>
                                            <input id="cardholder-name" type="text" class="form-control" placeholder="NOM Prénom">
                                        </div>

                                        <br>
                                        <div id="card-elements" class="card-elements"></div><BR>
                                        <div id="card-errors" role="alert"></div><BR>

                                    </div>
                                </div>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <span>Résumé</span>
                <div class="card">
                    <div class="p-3 d-flex justify-content-between">
                        <div class="d-flex flex-column">
                            <span>Total à payer</span>
                        </div>
                        <span>{{ amount }}€</span>
                    </div>
                    <div class="p-3">
                        <button class="btn btn-primary btn-block free-button" id="card-button" type="button" data-secret={{ intent.client_secret }}>Procéder au paiement</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        window.onload = () => {
            let stripe= Stripe('pk_test_51Mco2mCmQpXm4b5YOxwLUTyQfxPAUAHrjQ4CJtZTQ9lokpukRvnYYjTMUG2yrQiLDkJ5MRaYBMapFclOZh4eY4oQ00bPnYP4YJ');
            let elements=stripe.elements();
            let cardHolderName = document.getElementById("cardholder-name");
            let cardButton=document.getElementById("card-button");
            let clientSecret=cardButton.dataset.secret;


            let card=elements.create("card");
            card.mount("#card-elements");


            card.addEventListener("change", (event) => {
                let displayError = document.getElementById("card-errors");
                if(event.error){
                    displayError.textContent = event.error.message;
                }else{
                    displayError.textContent = "";
                }
            })


            cardButton.addEventListener("click", () => {
                stripe.handleCardPayment(
                    clientSecret,card, {
                        payment_method_data: {
                            billing_details: {name: cardHolderName.value}
                        }
                    }
                ).then(result => {
                    if(result.errors){
                        document.getElementById("errors").innerText=result.error.message
                    }else{
                        document.location.href="{{ path('app_payment_pdf', {name: app.user.name, prenom: app.user.firstname, date:'23-02-2023'}) }}";
                    }
                })
            })
        }
    </script>

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


        body{
            background-color:#f5eee7;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
        }

        .container{

            height: 100vh;

        }

        .card{

            border: none;
            width: 400px;
        }

        .card-header {
            padding: .5rem 1rem;
            margin-bottom: 0;
            background-color: rgba(0,0,0,.03);
            border-bottom: none;
        }

        .form-control{

            height: 50px;
            border: 2px solid #eee;
            border-radius: 6px;
            font-size: 14px;
        }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #039be5;
            outline: 0;
            box-shadow: none;

        }

        .input{

            position: relative;
        }

        .input i{

            position: absolute;
            top: 16px;
            left: 11px;
            color: #989898;
        }

        .input input{

            text-indent: 25px;
        }

        .card-text{

            font-size: 13px;
            margin-left: 6px;
        }

        .free-button{

            background: #1565c0;
            height: 52px;
            font-size: 15px;
            border-radius: 8px;
        }


        .payment-card-body{

            flex: 1 1 auto;
            padding: 24px 1rem !important;

        }

        .icons {
            margin-left: 10px;
        }

        span {
            margin-left: 10px;
        }

        .card-elements {
            margin-left:3px;
        }
    </style>
{% endblock %}