
<h1> Réinitilisation Votre mot de passe</h1>
<p>Bonjour {{ user.name }}</p>
<p>Pour votre demande de réinitialisation de votre mot de passe </p>
<p>Veuillez cliquez sur le lien ci-dessous.</p>

<p><a href="{{ url|raw }}">{{ url|raw }}</a> </p>

<p>Merci</p>
<p>A bientôt</p>
<p>UtopiaZoo</p>